.header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.app-name {
    font-weight: bold;
    font-size: 20px;
}

.user-logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
}