.card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
    width: 96%;
    height: 300px;
    margin: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-3px);
    /* Adjust the uplift value on hover */
}

.card-image {
    width: 40%;
    height: 40%;
}

.card-content {
    padding: 16px;
}

.card-title {
    font-size: 18px;
    margin-bottom: 8px;
}

.card-text {
    font-size: 14px;
    margin-bottom: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.read-more {
    color: blue;
    text-decoration: underline;
}